<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://icons.getbootstrap.com/assets/css/docs.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/../static/img/icons8-airplane-80_dark.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>
            {% block title %}
            {% endblock %}
    </title>

</head>
<style>
   body {
      /* The image used */
  background-image: url("static/img/INUnc6GSEf88T8.png");
  background-size: cover;
  }
</style>
<body>
<header style="background-color: #065398" class="navbar navbar-expand-lg sticky-top">


    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation"
         style="max-width: 1450px">

        <img src="static/img/icons8-airplane-80.png" width="40" height="40">

    </nav>
</header>
{% block content %}
{% endblock %}
</body>

</html>