{% extends 'base.html' %}
{% block title %}
SFDL
{%  endblock %}


{% block content %}
<div class="container-xxl" style="max-width: 1500px;">
    <div>
        <div>
            <div class="hero py-3 text-center text-lg-start">
                <div class="container-xxl bd-gutter" style="max-width: 800px">
                    <div class="row g-0 text-center">
                        <div class="col-6 col-md-12">
                            <h1 class="f0 pb-4">Введите параметры</h1>
                            <form id="MainForm" class="was-validated">
                                <div class="row g-3">
                                    <div class="col-sm-4">
                                        <label class="form-label" for="direction">Направление рейса</label>
                                        <select class="form-select" name="direction" id="direction" required="">
                                            <option value=""></option>
                                            {% for i in directions %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Выберите направление
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label" for="flight">Выбор рейса</label>
                                        <select class="form-select" name="flight" id="flight" required="">
                                            <option value=""></option>
                                            {% for i in directions %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Выберите рейс
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="flyclass">Класс</label>
                                        <select class="form-select" name="class" id="flyclass" required="">
                                            <option value=""></option>
                                            <option>Первый</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Выберите класс
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="date">Выбор даты</label>
                                        <input class="form-control" name="choose_date" id="date" required type="text">
                                        <div class="invalid-feedback">
                                            Выберите дату
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="datestart">Начало периода</label>
                                        <input class="form-control" name="start" id="datestart" placeholder="Опционально"
                                               type="text">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="dateend">Окончание периода</label>
                                        <input class="form-control" name="finish" id="dateend" placeholder="Опционально" type="text">

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check text-start">
                                            <input class="form-check-input" name="dynamics" id="dynamics" type="checkbox">
                                            <label class="form-check-label" for="dynamics" style="color: black">Динамика
                                                бронирования</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input class="form-check-input" name="seasons" id="seasons" type="checkbox">
                                            <label class="form-check-label" for="seasons"
                                                   style="color: black">Сезоны</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check text-start">
                                            <input class="form-check-input" name="profile_flight" id="profile_flight" type="checkbox">
                                            <label class="form-check-label" for="profile_flight" style="color: black">Профиль
                                                спроса. Вылетевшие рейсы</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input class="form-check-input" name="profile_saled" id="profile_saled" type="checkbox">
                                            <label class="form-check-label" for="profile_saled" style="color: black">Профиль
                                                спроса. Проданные рейсы</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </form>
                                                            <button class="btn btn-primary" id="MainButton">Continue to checkout</button>

                        </div>
                        <div class="col-sm-6 col-md-8" style="display: none">
                            <h1 class="f0">Тут будет график</h1>
                            <div>
                                <canvas id="YourChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero py-5 text-center text-lg-start" style="display: none">
                <div class="container-xxl bd-gutter" style="max-width: 1500px">
                    <div class="bd-content ps-lg-2">
                        <h2>Тут будут еще графики</h2>
                        <p>Date: <input id="datepicker" type="text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
<!--Добавить запрос черер javascript что бы получать данные-->

<!--Разобратся в этой либе-->
  const ctx = document.getElementById('YourChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>
<script>
   const ctx1 = document.getElementById('myChart');

  new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>
<script>
  $( function() {
    $( "#date" ).datepicker();
  } );
    $( function() {
    $( "#datestart" ).datepicker();
  } );
    $( function() {
    $( "#dateend" ).datepicker();
  } );

</script>
<script>
document.getElementById('MainButton').onclick = function () {
    alert('done')
    var data = new FormData(document.getElementById("MainForm"));
    var jsonData = {};
    data.forEach(function(value, key) {
        jsonData[key] = value;
        });
    var jsonString = JSON.stringify(jsonData);
    alert(jsonString)
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/getdata", true);
    xmlhttp.setRequestHeader("Content-Type", "application/json");
    xmlhttp.onload = function () {
        if (xmlhttp.status == 200) {
        alert('ok')
        }}
    xmlhttp.send(jsonString);
    }


</script>
<script>

</script>
{% endblock %}