{% extends 'base.html' %}
{% block title %}
SFDL
{%  endblock %}


{% block content %}
<div class="container-xxl" style="max-width: 1500px;">
    <div>
        <div>
            <div class="hero py-3 text-center text-lg-start">
                <div class="container-xxl bd-gutter" style="max-width: 800px">
                    <div class="row g-0 text-center">
                        <div class="col-6 col-md-12">
                            <h1 class="f1 pb-4">Введите параметры</h1>
                            <form class="was-validated" id="MainForm">
                                <div class="row g-3">
                                    <div class="col-sm-4">
                                        <label class="form-label" for="direction">Направление рейса</label>
                                        <select class="form-select" id="direction" name="direction"
                                                onchange="giveSelection(this.value)"
                                                required="">
                                            <option value=""></option>
                                            {% for key, value in directions.items() %}
                                            <option value="{{key}}">{{key}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Выберите направление
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label" for="flight">Выбор рейса</label>
                                        <select class="form-select" id="flight" name="flight" required="">
                                            <option value=""></option>
                                            {% for key, value in directions.items() %}
                                            {% for i in value %}
                                            <option data-option="{{key}}" value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Выберите рейс
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="flyclass">Класс</label>
                                        <select class="form-select" id="flyclass" name="class" required="">
                                            <option value=""></option>
                                            <option>Первый</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Выберите класс
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="date">Выбор даты</label>
                                        <input class="form-control" id="date" name="choose_date" required type="text">
                                        <div class="invalid-feedback">
                                            Выберите дату
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="datestart">Начало периода</label>
                                        <input class="form-control" id="datestart" name="start"
                                               placeholder="Опционально"
                                               type="text">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="dateend">Окончание периода</label>
                                        <input class="form-control" id="dateend" name="finish" placeholder="Опционально"
                                               type="text">

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check text-start">
                                            <input class="form-check-input" id="dynamics" name="dynamics"
                                                   type="checkbox">
                                            <label class="form-check-label" for="dynamics" style="color: black">Динамика
                                                бронирования</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input class="form-check-input" id="seasons" name="seasons" type="checkbox">
                                            <label class="form-check-label" for="seasons"
                                                   style="color: black">Сезоны</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check text-start">
                                            <input class="form-check-input" id="profile_flight" name="profile_flight"
                                                   type="checkbox">
                                            <label class="form-check-label" for="profile_flight" style="color: black">Профиль
                                                спроса. Вылетевшие рейсы</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <input class="form-check-input" id="profile_saled" name="profile_saled"
                                                   type="checkbox">
                                            <label class="form-check-label" for="profile_saled" style="color: black">Профиль
                                                спроса. Проданные рейсы</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </form>
                            <button class="btn btn-primary" disabled id="MainButton">Получить данные
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5 text-center text-lg-start">
                <div class="container-xxl bd-gutter">
                    <div class="bd-content ps-lg-2 py-6" id="profile_flight_block" style="display: none">
                        <h2 class="text-center">Профиль спроса. Вылетевшие рейсы</h2>
                        <canvas id="profile_flight_table"></canvas>
                    </div>
                    <div class="bd-content ps-lg-2 py-6" id="profile_saled_block" style="display: none">
                        <h2 class="text-center">Профиль спроса. Проданные рейсы</h2>
                        <canvas id="profile_saled_table"></canvas>
                    </div>
                    <div class="bd-content ps-lg-2 py-6" id="seasons_block" style="display: none">
                        <h2 class="text-center">Сезоны</h2>
                        <canvas id="seasons_table"></canvas>
                    </div>
                    <div class="bd-content ps-lg-2 py-6" id="dynamics_block" style="display: none">
                        <h2 class="text-center"> Динамика бронирования </h2>
                        <canvas id="dynamics_table"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  $( function() {
    $( "#date" ).datepicker();
  } );
    $( function() {
    $( "#datestart" ).datepicker();
  } );
    $( function() {
    $( "#dateend" ).datepicker();
  } );


</script>
<script>
document.getElementById('MainButton').onclick = function () {
    document.getElementById('profile_flight_block').style.display = "none"
    document.getElementById('profile_saled_block').style.display = "none"
    document.getElementById('seasons_block').style.display = "none"
    document.getElementById('dynamics_block').style.display = "none"
    var data = new FormData(document.getElementById("MainForm"));
    var jsonData = {};
    data.forEach(function(value, key) {
        jsonData[key] = value;
        });
    var jsonString = JSON.stringify(jsonData);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/getdata", true);
    xmlhttp.responseType = 'json';
    xmlhttp.setRequestHeader("Content-Type", "application/json");
    xmlhttp.onload = function () {
        if (xmlhttp.status == 200) {
        var val = Object.values(xmlhttp.response);
            val.forEach(function(value) {
            eval(value);
      });
      var keys = Object.keys(xmlhttp.response);
            keys.forEach(function(key) {
            document.getElementById(key).style.display = "block";
      });
        }
        }
    xmlhttp.send(jsonString);
    }


</script>
<script>
function checkFields() {
  var direction = document.getElementById('direction').value.trim();
  var maindate = document.getElementById('date').value.trim();
  var flight = document.getElementById('flight').value.trim();
  var flyclass = document.getElementById('flyclass').value.trim();
  var profileFlight = document.getElementById('profile_flight').checked;
  var profileSaled = document.getElementById('profile_saled').checked;
  var seasons = document.getElementById('seasons').checked;
  var dynamics = document.getElementById('dynamics').checked;
  var fieldsFilled = direction !== '' && flight !== '' && flyclass !== '' && maindate !== '';
  var profileSelected = profileFlight || profileSaled || seasons || dynamics;

  if (fieldsFilled && profileSelected) {
    document.getElementById('MainButton').disabled = false;
  } else {
    document.getElementById('MainButton').disabled = true;
  }
}

// Добавление обработчиков событий на поля для проверки значений при изменении
document.getElementById('date').addEventListener('input', checkFields);
document.getElementById('direction').addEventListener('input', checkFields);
document.getElementById('flight').addEventListener('input', checkFields);
document.getElementById('flyclass').addEventListener('input', checkFields);
document.getElementById('profile_flight').addEventListener('change', checkFields);
document.getElementById('profile_saled').addEventListener('change', checkFields);
document.getElementById('seasons').addEventListener('change', checkFields);
document.getElementById('dynamics').addEventListener('change', checkFields);


</script>
<script>
var direction = document.querySelector('#direction');
var flight = document.querySelector('#flight');
var options2 = flight.querySelectorAll('option');

function giveSelection(selValue) {
  flight.innerHTML = '';
  for(var i = 0; i < options2.length; i++) {
    if(options2[i].dataset.option === selValue) {
      flight.appendChild(options2[i]);
    }
  }
}

giveSelection(direction.value);


</script>

{% endblock %}